/* A (ridiculously) simplified version of normalize.css */
html, body, div, h1, p {
    border: 0;
    margin: 0;
    padding: 0;
}

/* Set up a default font and some padding to provide breathing room */
body {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    padding: 16px;
}

#view-container{
	background-color:white; 
	padding: 10px 10px 30px 10px; 
	border-radius: 6px;
}

#job-board{
	background-color: #7999A9;
	padding-bottom: 100px;
}

#search-box{
	background-color: #477183;
	margin: 0;
	border-radius: 4px;
	padding: 30px 10px;
}

#search-box label{
	color: #fff;
	font-weight: normal;
}

#search-box input{
	display: block;
	width: 300px;
	margin-right: 20px;
}

#search-box h4{
	color: #fff;
	margin-top: 0;
}

#contact-form{
	margin-top: 22px;
}

#contact-form button{
	background-color: #809EAD;
	color: #fff;
	font-weight: bold;
}
#contact-form input, #contact-form textarea{
	background-color: #E0E8ED
}

#jobs-table span.location{
	display: inline-block;
	width: 150px;
}

#jobs-table button{
	background-color: #959A8F;
	color: #fff;
	float: right;
}

.text-wrap{
	display: inline-block;
	width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.search_result_txt{
	margin: 15px 0 10px 8px;
}
.navbar-default{
	background-color: #7999A9;
	border-color: #7999A9;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
  